APP_URL=https://tagview-slack-bot.herokuapp.com/
BOT_TOKEN=xoxb-xxxx
PHABRICATOR_URL=http://phabricator.tagview.com.br/
PHABRICATOR_DB_URL=mysql://user:pass@host/db?connectionLimit=10
PHABRICATOR_S3_BUCKET=happy_bucket
AWS_KEY_ID=AKIAHDGXYSA2DF5IKW6A
AWS_SECRET_ACCESS_KEY=s3cr3t
